@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
  color: whitesmoke;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
.bg-blur {
  filter: blur(5px) brightness(25%);
}
.scrollable-scrollspy {
  height: 11rem;
}
.min-height {
  min-height: 100%;
}
.img-profile {
  height: 30rem;
}
.img-icon{
  height: 2rem;
  cursor: pointer;
}
.nav-link p {
  opacity: 0.25;
  transition: 0.5s;
}
.nav-link.active p {
  opacity: 1;
}
.dud {
  color: green;
}
.text {
  background-color: rgb(000, 000, 000, 0.5);
  backdrop-filter: blur(5px);
}
@media screen and (width < 992px) {
  .scrollable-scrollspy {
    height: 8.5rem;
  }
  .img-profile {
    height: 16rem;
  }
  .nav-link p {
    opacity: 1;
  }
}
