* {
  scroll-behavior: smooth;
  color: whitesmoke;
}
.bg-blur {
  filter: blur(10px) brightness(50%);
}
.scrollable-scrollspy {
  height: 12.5rem;
}
.img-profile{
  height: 30rem;
}
@media screen and (width < 992px) {
  .scrollable-scrollspy {
    height: 8rem;
  }
  .img-profile{
    height: 20rem;
  }
}
