* {
  scroll-behavior: smooth;
  color: whitesmoke;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
.bg-blur {
  filter: blur(10px) brightness(50%);
}
.scrollable-scrollspy {
  height: 11rem;
}
.min-height {
  min-height: 100%;
}
.img-profile {
  height: 30rem;
}
.nav-link p {
  opacity: 0.25;
  transition: 0.5s;
}
.nav-link.active p {
  opacity: 1;
}
@media screen and (width < 992px) {
  .scrollable-scrollspy {
    height: 8.5rem;
  }
  .img-profile {
    height: 16rem;
  }
  .nav-link p {
    opacity: 1;
  }
}
